.twitt-container {
  background-color: transparent;
  width: 100%;
  display: flex;
  border: 1px solid rgba(255, 255, 255, 0.232);
  padding: 3% 1%;
}
.avatar-container {
  width: 20%;
  display: flex;
  justify-content: center;
}
.avatar {
  width: 4rem;
  height: 4rem;
  margin-top: 8%;
  border-radius: 50%;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}
.content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 5% 0 0;
  font-size: 1em;
}
.content-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.more-btn {
  margin: 0;
  cursor: pointer;
  font-size: 2.5em;
  transform: translateY(-50%);
}
h3 {
  margin: 0;
}
.content-body {
  width: 90%;
  margin-top: 2%;
}
.img-div {
  width: 100%;
  height: 20rem;
}
.post-img {
  margin-top: 5%;
  width: 100%;
  height: 90%;
  object-fit: cover;
}
.btn-container {
  width: 90%;
  margin-top: 5%;

  display: flex;
  justify-content: space-between;
}
.icon,
.com-icon {
  padding: 0.2em;
  font-size: 3.5rem;
  color: rgb(113, 118, 123);
  margin-right: 0.3em;
}
.com-icon {
  font-size: 3rem;
}
.icon-box {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.icon-box:hover .icon {
  border-radius: 50%;
}
.comments:hover,
.share:hover {
  color: rgb(29, 161, 242);
}

.comments:hover .icon,
.share:hover .icon {
  color: rgb(29, 161, 242);
  background-color: rgba(29, 161, 242, 0.1);
}
.comments,
.share,
.reposts,
.active,
.like,
.icon-like {
  transition: all 0.8s ease;
}
.icon {
  transition: all 0.8s ease;
}
.reposts:hover {
  color: rgb(29, 242, 104);
}
.reposts:hover .icon {
  color: rgb(29, 242, 104);
  background-color: rgba(29, 242, 104, 0.1);
}
.active,
.like:hover,
.icon-like:hover {
  color: rgb(249, 24, 128);
}
.like:hover .icon {
  color: rgb(249, 24, 128);
  background-color: rgba(249, 24, 128, 0.1);
}
.bullet {
  position: absolute;
  border-radius: 1px solid rgba(255, 255, 255, 0.5);
}
.comments-container {
  margin-top: 8%;
}
.comment {
  display: flex;
  border: 1px solid rgba(255, 255, 255, 0.232);
  padding: 3% 5%;
}
.comment-body {
  padding-left: 5%;
}
.bullet {
  height: 11%;
  position: absolute;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: rgb(255 255 255 / 20%) 0px 0px 15px,
    rgb(255 255 255 / 15%) 0px 0px 3px 1px;
  background-color: black;
  list-style: none;
  padding-left: 0;
  padding: 1%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
li {
  cursor: pointer;
}
img {
  border-radius: 15px;
}
